

.calendar {
    width: 92.3%;
    /*max-width: 1600px;*/
    margin: 5% auto 5% auto;
}


.title {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 26px;

    display: flex;
    align-items: center;
    font-feature-settings: 'liga' off;

    color: rgba(27, 31, 59, 0.8);
    margin: 2% 0;
}
