.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal_main {
    z-index: 1;
    position: fixed;
    background: white;
    width: 60%;
    height: 800px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.display_block {
    z-index: 1;
    display: block;
}

.display_none {
    z-index: 1;
    display: none;
}

.btn {
    width: 100px;
    height: 35px;
    border-radius: 5%;
    border: 1px solid #D9D9D9;
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}

.green_color {
    background: #BBFBC2;
}

.red_color {
    background: #E5C1C1;
}

/*--inner-stuff--*/

.tee_time_wrapper {
    margin: 3% auto 1% auto;
}

.tee_time_wrapper p {
    /*font-family: 'Inter', serif;*/
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    margin: auto;
    text-transform: none;
}

.players_wrapper {
    width: 100%;
}

.players_wrapper p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: fit-content;
    margin-left: 3%;
    margin-top: 1%;
    text-transform: none;
}

.icon {
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
}

.icon:hover > path {
    fill: #7a9e43;
    fill-opacity: 0.8;
}

.buggies_carts_wrapper {
    display: grid;
    grid-template-columns: 110px auto;
    margin: 3% 3%;
    text-align: left;
}

.buggies_carts_text_wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;

    line-height: 30px;
    background: rgba(255, 255, 255, 0.74);
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    text-transform: none;
}

.quantity_fields_wrapper input {
    text-align: center;
    width: 80px;

    line-height: 30px;
    background: rgba(255, 255, 255, 0.74);
    border: 0.2rem solid #D9D9D9;
    border-radius: 5px;
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.comment_wrapper {
    margin: 1% 3%;
    /*padding: 10px;*/
}

.comment_wrapper textarea {
    height: 60px;
    line-height: 30px;
    width: 99%;
    background: rgba(255, 255, 255, 0.74);
    border: 0.2rem solid #D9D9D9;
    border-radius: 5px;
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.btns_wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    margin-top: 2%;
    margin-bottom: 3%;
}

.btns_wrapper button {
    margin: auto;
}

.error {
    color: red;
    font-family: 'Manrope', serif;
    font-size: 12px;
}