.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal_main {
    z-index: 1;
    position: fixed;
    background: white;
    width: 60%;
    height: 800px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display_block {
    z-index: 1;
    display: block;
}

.display_none {
    z-index: 1;
    display: none;
}

/*--inner-stuff--*/

.tee_time_wrapper {
    margin: 3% auto;
}

.tee_time_wrapper p {
    /*font-family: 'Inter', serif;*/
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    margin: auto;
    text-transform: none;
}

.players_wrapper {
    width: 150px;
}

.players_wrapper p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin: auto;
    text-transform: none;
}
