.input_block {
    margin-bottom: 20px;
}

.input_block label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    text-transform: lowercase;

    color: #000000;
}

.input_block input {
    display: block;
    width: 80%;
    margin: 8px auto 8px auto;
    font-size: 16px;
    line-height: 30px;
    color: #343A50;
    background: rgba(207, 234, 167, 0.47);
    border: 1px solid rgba(216, 239, 194, 0.47);
    border-radius: 5px;
}